/* generella stilregler */ 
* {
	margin: 0px auto; 
	list-style:none;
	text-decoration:none;
}

#top h1 {
	float:left;
}	

#wrapper {
	width: 100%; 
	background-color: #FFF; 
	height: 100%;	
}

#content {
	width: 80%;
	background-color: #FFF;
	height: 1024px;	
}

header, footer {
	width: 100%; 
	height: 150px;
	background-color: #111;
}


#top {
	width: 80%;	
	height: 130px;
}	

header form {
	float:right; 
	padding-top: 20px;
}

header form p {
    color: rgba(150, 150, 150, 0.59);
	
}	

header input[type=text]
{
    border: 0;
    border-radius:5px;
}


.container {
	padding-top:20px;
}	


#bannerimg {
	padding-top:20px;
	width: 100%;	
}

#bannerimg img {
	width: 100%;	
}


#headspace {
	width: 100%;
	background-color: #000;
	height: 20px;	
	border-bottom: 1px solid #141414;
}	
}
